/* Navbar Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.nome-navbar {
    font-size: 1.5rem;
    font-weight: bold;

    span {
        color: var(--cor-destaque);
    }
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--cor-texto-principal); 
    cursor: pointer;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--cor-destaque);
}

nav a:focus {
    outline: 2px solid var(--cor-destaque);
    outline-offset: 2px;
}

.destaque-contato {
    color: var(--cor-texto);
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid var(--cor-destaque);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--cor-destaque);
}

.destaque-contato:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
}

/* Menu hamburguer */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin-left: auto;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background: var(--cor-destaque);
    display: block;
    position: relative;
}
.menu-icon::before,
.menu-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background: var(--cor-destaque);
    position: absolute;
    left: 0;
    transition: 0.3s;
}
.menu-icon::before {
    top: -10px;
}
.menu-icon::after {
    top: 10px;
}

